<div class="container mt-4">
    <div class="mb-3">
        <h2>Fuel system</h2>
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-2">
                    <label for="air_cleaner" class="form-label">Air cleaner</label>
                    <input type="text" class="form-control" id="air_cleaner" [(ngModel)]="newFuel.air_cleaner" #air_cleaner="ngModel"
                        name="air_cleaner" required>
                </div>
                <div class="col-md-2">
                    <label for="throttle_sensor" class="form-label">Throttle sensor</label>
                    <input type="text" class="form-control" id="throttle_sensor" [(ngModel)]="newFuel.throttle_sensor" #throttle_sensor="ngModel"
                        name="throttle_sensor" required>
                </div>
                <div class="col-md-2">
                    <label for="fuel_injectors" class="form-label">Fuel injectors</label>
                    <input type="text" class="form-control" id="fuel_injectors" [(ngModel)]="newFuel.fuel_injectors" #fuel_injectors="ngModel"
                        name="fuel_injectors" required>
                </div>
                <div class="col-md-2">
                    <label for="fuel_pump" class="form-label">Fuel pump</label>
                    <input type="text" class="form-control" id="fuel_pump" [(ngModel)]="newFuel.fuel_pump" #fuel_pump="ngModel"
                        name="fuel_pump" required>
                </div>
                <div class="col-md-2">
                    <label for="fuel_filter" class="form-label">Fuel filter</label>
                    <input type="text" class="form-control" id="fuel_filter" [(ngModel)]="newFuel.fuel_filter" #fuel_filter="ngModel"
                        name="fuel_filter" required>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary mt-3" [disabled]="form.invalid" (click)="addfuel()">Add</button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div *ngIf="fuels.length > 0">
        <h3>Fuels list</h3>
        <table class="table text-white">
            <thead>
                <tr>
                    <th class="text-wrap" style="width: 18%;">Air cleaner</th>
                    <th class="text-wrap" style="width: 18%;">Throttle sensor</th>
                    <th class="text-wrap" style="width: 18%;">Fuel injectors</th>
                    <th class="text-wrap" style="width: 18%;">Fuel pump</th>
                    <th class="text-wrap" style="width: 18%;">Fuel filter</th>
                    <th style="width: 10%;">Changed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fuel of fuels">
                    <td>
                        <input type="text" [(ngModel)]="fuel.air_cleaner" class="form-control"/>
                        <button class="btn btn-secondary btn-sm mt-1" (click)="updatefuel(fuel.id, fuel.air_cleaner, fuel.throttle_sensor, fuel.fuel_injectors, fuel.fuel_pump, fuel.fuel_filter)">Save</button>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="fuel.throttle_sensor" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="fuel.fuel_injectors" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="fuel.fuel_pump" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="fuel.fuel_filter" class="form-control"/>
                    </td>
                    <td>{{ fuel.createdDate | date:'dd.MM.yyyy hh.mm' }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm mt-1" (click)="deleteFuel(fuel.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>