<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form #lapTimeForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="brand">Марка машины</label>
            <input type="text" id="brand" class="form-control" [(ngModel)]="brand" name="brand" required>
          </div>
          <div class="form-group">
            <label for="model">Модель машины</label>
            <input type="text" id="model" class="form-control" [(ngModel)]="model" name="model" required>
          </div>
          <div class="form-group">
            <label for="lapTimeInput">Время круга (мм сс сс):</label>
            <input type="text" id="lapTimeInput" class="form-control" [(ngModel)]="lapTime" name="lapTime" (ngModelChange)="formatLapTime($event)" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!lapTimeForm.valid">Добавить</button>
        </form>
      </div>
    </div>
  </div>
  