<div class="container mt-4">
    <div class="mb-3">
        <h2>Car Review</h2>
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-2">
                    <label for="manufacturer" class="form-label">Manufacture</label>
                    <input type="text" class="form-control" id="manufacturer" [(ngModel)]="newReview.manufacturer" #manufacturer="ngModel"
                        name="manufacturer" required>
                </div>
                <div class="col-md-2">
                    <label for="title" class="form-label">Model</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="newReview.title" name="title" #title="ngModel"
                        required>
                </div>
                <div class="col-md-2">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="newReview.description" #description="ngModel"
                        name="description" required>
                </div>
                <div class="col-md-2">
                    <label for="type" class="form-label">Car Type</label>
                    <select class="form-select" id="type" [(ngModel)]="newReview.type" name="type" #type="ngModel" required>
                        <option value="hatch">Hot hatch</option>
                        <option value="sport">Sport car</option>
                        <option value="super">Super car</option>
                        <option value="van">Van</option>
                        <option value="sedan">Sedan</option>
                        <option value="wagon">Wagon</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="rating" style="width: 100%;" class="form-label">Rating</label>
                    <select class="form-select" id="rating" [(ngModel)]="newReview.rating" name="rating" #rating="ngModel" required>
                        <option value="1 star">1 star</option>
                        <option value="2 stars">2 stars</option>
                        <option value="3 stars">3 stars</option>
                        <option value="4 stars">4 stars</option>
                        <option value="5 stars">5 stars</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary mt-3" [disabled]="form.invalid" (click)="addReview()">Add</button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div *ngIf="reviews.length > 0">
        <h3>Reviews List</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-wrap" style="width: 15%;">Manufacturer</th>
                    <th class="text-wrap" style="width: 15%;">Model</th>
                    <th class="text-wrap" style="width: 30%;">Description</th>
                    <th style="width: 20%;">Type</th>
                    <th style="width: 10%;">Rating</th>
                    <th style="width: 10%;">Changed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let review of reviews">
                    <td>{{ review.title }}</td>
                    <td>{{ review.manufacturer }}</td>
                    <td>
                        <input type="text" [(ngModel)]="review.description" class="form-control"/>
                        <button class="btn btn-secondary btn-sm mt-1" (click)="updateReview(review.id, review.description)">Save</button>
                    </td>
                    <td>{{ review.type }}</td>
                    <td>{{ review.rating }}</td>
                    <td>{{ review.createdDate | date:'dd.MM.yyyy hh.mm' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>